global
  maxconn 256
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend applications
  bind :30080
  default_backend istio
backend istio
  server desktop host.docker.internal:30080

frontend envy_api
  bind :30081
  default_backend envy
backend envy
  server desktop host.docker.internal:30081
